

<h3><%= @task.title %></h3>
<p><%= @task.details %></p>

<%= link_to "Go Back To List", tasks_path %>
<%= link_to "Edit A Task", edit_path(@task) %>
<%= link_to "Delete", task_path(@task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
